.banner__buttonAddServer {
  padding: 10px;
  border: none;
  border-radius: 5px;

  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $dark-gray;
  background-color: $light-blue;

  cursor: pointer;
  transition: 1s;

  &:hover {
    background-color: $pink;
  }
}
