*:focus {
  outline: dashed 1px $purple;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: $gray;
}

.container {
  padding: 50px;
  margin: 0 auto;

  @media screen and (min-width: 1140px) {
    width: 1000px;
  }
}
